mixin btn(text, className, ico, href, attributes)
  if href
    a.btn(href=href, class= className, class= ico === 'watch' ? 'btn--watch' : ico === 'send' ? 'btn--send' : '')&attributes(attributes)
      if ico === 'watch'
        svg.btn__ico
          use(xlink:href=loadAssets('./svg/select-arrow.svg').symbol)
      span.btn__text= text
      if ico === 'send'
        svg.btn__ico
          use(xlink:href=loadAssets('./svg/btn-ico.svg').symbol)
  else
    button.btn(class= className, class= ico === 'watch' ? 'btn--watch' : ico === 'send' ? 'btn--send' : '')&attributes(attributes)
      if ico === 'watch'
        svg.btn__ico
          use(xlink:href=loadAssets('./svg/select-arrow.svg').symbol)
      span.btn__text= text
      if ico === 'send'
        svg.btn__ico
          use(xlink:href=loadAssets('./svg/btn-ico.svg').symbol)
