$parent: btn;

@include block($parent) {
  text-align: center;
  height: rem(58);
  line-height: rem(56);
  background-color: $white;
  border: rem(2) solid $orange;
  transition: border-color $ease, background-color $ease;
  position: relative;
  overflow: hidden;
  border-radius: rem(40);
  max-width: rem(186);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $orange;
  }

  &:hover {
    background-color: $orange;

    svg {
      fill: $white;
    }

    @include element($parent, 'text') {
      color: $white;
    }
  }

  @include element($parent, 'text') {
    font-size: rem(14);
    color: $orange;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition: color $ease;
  }

  @include modifier($parent, 'send') {
    background-color: $orange;
    color: $white;
    max-width: rem(176);
    height: rem(53);
    line-height: rem(51);

    svg {
      height: rem(13.5);
      width: rem(13.5);
      fill: $white;
      margin-left: rem(10);
    }

    @include element($parent, 'text') {
      color: $white;
    }

    &:hover {
      background-color: $white;

      svg {
        fill: $orange;
      }

      @include element($parent, 'text') {
        color: $orange;
      }
    }
  }

  @include modifier($parent, 'watch') {
    border-color: $white;
    background-color: transparent;
    max-width: rem(205);
    height: rem(53);
    line-height: rem(51);

    svg {
      height: rem(15);
      width: rem(10);
      fill: $white;
      margin-right: rem(10);
      transform: rotate(-90deg);
    }

    @include element($parent, 'text') {
      color: $white;
    }

    &:hover {
      background-color: $white;

      svg {
        fill: $orange;
      }

      @include element($parent, 'text') {
        color: $orange;
      }
    }
  }

  @include modifier($parent, 'orange') {
    background-color: $orange;

    @include element ($parent, 'text') {
      color: $white;
    }

    &:hover {
      background-color: transparent;

      @include element ($parent, 'text') {
        color: $orange;
      }
    }
  }

  @include modifier($parent, 'white') {
    border-color: $white;
    background-color: transparent;
    color: $white;
    max-width: rem(161);
    height: rem(53);
    line-height: rem(51);

    &:hover {
      border-color: $orange;
      background-color: $orange;
    }

    @include element ($parent, 'text') {
      color: $white;
    }
  }
}
