$parent: textarea;

@include block ($parent) {
  @include element($parent, 'label') {
    display: inline-block;
    margin-bottom: rem(5);

    @media (min-width: 768px) {
      margin-bottom: rem(9);
    }
  }

  @include element($parent, 'field') {
    width: 100%;
    height: rem(100);
    font-size: rem(15);
    line-height: rem(19);
    padding: rem(10) rem(16) rem(18);
    border: 1px solid #e0e0e0;

    &:focus {
      border-color: #c6d8f1;
    }
  }
}
