$parent: header;

@include block($parent) {
  width: 100%;
  background-color: #fff;

  @include element($parent, 'wrapper') {
    display: flex;
    align-items: center;
    padding: rem(26);

    @media (min-width: 768px) {
      flex-direction: column;
      padding: rem(29) rem(20) rem(27);
    }
  }
}
