include ../form/form.pug
include ../../core/input/input.pug
include ../../core/textarea/textarea.pug

mixin popup(popup)
  .popup(class=popup.containerMod)
    .popup__modal
      button.popup__close.js-close(type='button')
        //- svg
        //-   use(xlink:href=loadAssets('./svg/close-menu.svg').symbol)
      .popup__content
