$parent: popup;

@include block($parent) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: rem(20) 0;
  background-color: rgba($black, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1100;
  opacity: 0;

  @include modifier($parent, 'thanks') {
    @include element($parent, 'modal') {
      @media (min-width: 768px) {
        width: rem(495);
      }
    }
  }

  @include modifier($parent, 'opened') {
    display: flex;
    animation: show 0.5s linear forwards;
  }

  @include modifier($parent, 'hide') {
    opacity: 1;
    animation: hide 0.5s linear forwards;
  }

  @include element($parent, 'modal') {
    width: calc(100% - 20px);
    max-width: rem(495);
    padding: rem(45) rem(35) rem(70);
    position: relative;
    background-color: $white;

    @media (min-width: 768px) {
      width: rem(689);
      max-width: rem(689);
      padding: rem(70) rem(50);
    }
  }

  @include element($parent, 'close') {
    position: absolute;
    top: rem(16);
    right: rem(16);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    height: rem(24);
    width: rem(24);

    svg {
      width: rem(15);
      height: rem(15);
    }
  }

  @include element($parent, 'content') {
    text-align: center;
  }

  @include element($parent, 'heading') {
    font-weight: 600;
    font-size: rem(30);
    text-align: center;
    color: #2d2926;
    margin-bottom: rem(24);
    text-transform: uppercase;
  }

  @include element($parent, 'text') {
    font-size: rem(15);
    line-height: rem(19);
    margin-bottom: rem(31);
    text-align: center;
  }

  @include element($parent, 'confirm') {
    min-width: rem(155);
    font-size: rem(14);
    background-color: #333;
    padding: rem(12) rem(35) rem(10);
    color: $white;
  }

  @include element($parent, 'form-group') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: rem(23);

    @media (min-width: 768px) {
      height: rem(140);
    }
  }

  @include element($parent, 'form-input') {
    text-align: left;

    @media (min-width: 768px) {
      width: rem(225);
    }
  }

  @include element($parent, 'form-textarea-box') {
    text-align: left;
  }

  @include element($parent, 'form-textarea') {
    text-align: left;
    height: rem(112);
  }
}
