mixin input(input)
  .input(class=input.className)
    label.input__label(for=input.id)= input.label
    input.input__field(type='text', id=input.id, name=input.name)&attributes(attributes)
    //- svg.input__error.svg-overlap
    //-   use(xlink:href=loadAssets('./svg/warning.svg').symbol)
    span.input__error-text= input.errorText
