$parent: input;

@include block($parent) {
  position: relative;

  input {
    width: 100%;
    height: rem(35);
    padding: 0 rem(50) 0 rem(15);
    color: $black;
    transition: color $ease;
    font-size: rem(15);
    line-height: rem(19);
    border: 1px solid #e0e0e0;

    &::placeholder {
      color: rgba($black, 0.5);
    }

    &:focus {
      border-color: #c6d8f1;
    }
  }

  @include element($parent, 'label') {
    display: inline-block;
    margin-bottom: rem(5);

    @media (min-width: 768px) {
      margin-bottom: rem(9);
    }
  }

  @include element($parent, 'error') {
    height: rem(19);
    width: rem(20);
    position: absolute;
    right: rem(5);
    top: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity $ease;
  }

  @include element($parent, 'error-text') {
    display: inline-block;
    position: absolute;
    right: 0;
    top: rem(-7);
    font-size: rem(12);
    line-height: rem(19);
    padding: rem(4) rem(7);
    background-color: #f2f2f2;
    opacity: 0;

    &::after {
      position: absolute;
      content: '';
      bottom: rem(-10);
      right: rem(11);
      border: rem(5) solid transparent;
      border-top: rem(5) solid #f2f2f2;
    }
  }

  @include element($parent, 'field') {
    @include modifier($parent, 'error') {
      border-color: #e6007e;

      @include element-next($parent, 'error') {
        opacity: 1;

        & + .#{$parent}__error-text {
          opacity: 1;
        }
      }
    }
  }
}
