include ../blocks/footer/footer.pug
include ../blocks/header/header.pug
include ../blocks/popup/popup.pug

-
  loadAssets = function(file) {
    const req = require.context(
      "../assets/",
      true, // Load files recursively. Pass false to skip recursion.
      /^\.\/.*\.(svg|jpg|png)$/ // Match files ending with .md.
    );
    return req(file);
  }

block vars
  - var pageDetail = false;
  - var infoPage = require('../data/indexPage.json');
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='./favicon.ico', rel='shortcut icon', type='image/x-icon')
    title Empty Project
    each css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' href=css)
    if htmlWebpackPlugin.files.extracted.css
      each css in htmlWebpackPlugin.files.extracted.css.reverse()
        link(class="mediaquerydependent", rel='stylesheet' data-href=css.file, data-media=css.query)
  body
    .page
      +header()
      block content
    +footer
    .popup-box
      +popup(infoPage.popup)
      +popup(infoPage.popupThanks)
    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript' src=js async defer)
