extends ../layouts/main.pug

block content
  - var indexPage = require('../data/indexPage.json');
  script.
    window.INIT = {
      index: !{JSON.stringify(indexPage)}
    };
  main
    span main text
