$parent: heading;

@include block($parent) {
  position: relative;
  text-align: center;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: rem(2);
    background-color: #f2f2f2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding: 0 rem(15);
    text-transform: uppercase;
    font-size: rem(30);
    background-color: #fff;
  }
}
