@font-face {
  font-family: 'Trade Gothic LTPro';
  src: url('../../assets/fonts/TradeGothicLTPro/TradeGothicLTPro.woff2') format('woff2'), url('../../assets/fonts/TradeGothicLTPro/TradeGothicLTPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Gothic LTPro';
  src: url('../../assets/fonts/TradeGothicLTPro/TradeGothicLTPro-Light.woff2') format('woff2'), url('../../assets/fonts/TradeGothicLTPro/TradeGothicLTPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Gothic LTPro';
  src: url('../../assets/fonts/TradeGothicLTPro/TradeGothicLTPro-Bold.woff2') format('woff2'), url('../../assets/fonts/TradeGothicLTPro/TradeGothicLTPro-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rage Italic';
  src: url('../../assets/fonts/RageItalic/12205.woff2') format('woff2'), url('../../assets/fonts/RageItalic/RageItalicLetPlain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
