* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: $Gothic;
  height: 100%;
  min-width: 320px;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color $ease;
}

p {
  a {
    color: $gray;

    &:hover,
    &:active {
      color: $blue;
    }
  }
}

textarea {
  resize: none;
  -ms-overflow-style: none;
}

input {
  &[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

input,
textarea {
  cursor: text;
}

button {
  background: none;
}

button,
input,
textarea,
select {
  font-family: $Gothic;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }
}

ul {
  list-style: none;

  li {
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  }
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: stroke $ease, fill $ease;
}

.page {
  flex: 1 0 auto;
  overflow: hidden;
}

.svg-overlap {
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 2;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 10;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
