$xs: 374px;
$xs-min: 375px;
$mobile: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$lg-min: 1024px;
$lg-max: 1279px;
$xl-min: 1280px;
$xl-max: 1439px;
$desktop: 1440px;
$desktop-xl: 1600px;

$white: #fff;
$black: #000;
$blue: #001f5f;
$blue-86c: #86ccea;
$blue-4f: #4fbfdd;
$blue-4ec: #4ec1e0;
$blue-93d: #93d4f0;
$blue-aad: #aad8e5;
$orange: #f39000;
$orange-f57: #f57347;
$gray-33: #333;
$gray: #a3b0c5;
$gray-eef: #eef5f8;
$gray-c4: #c4c4c4;
$yellow: #fac100;
$purple: #695f9f;
$green: #78b617;
$green-48: #48bab9;
$green-52: #52cdcc;
$red: #e71802;
$pink: #ffeae8;

$ease: 0.3s ease;
$easeIO: 0.4s ease-in-out;
$linear: 0.4s linear;

$Gothic: 'Trade Gothic LTPro', Arial, sans-serif;
$RageItalic: 'Rage Italic', Arial, sans-serif;
